@import url(variaveis.css);

.faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faq-container h1 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 70px;
}

.faq-container p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    opacity: 50%;
    margin-bottom: 70px;
}

.faq {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
    font-family: "Poppins", sans-serif;
}

.faq-item {
    margin-bottom: 15px;
    background-color: #ffffff;
    border: 1px solid #DDECFF;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    transition: all 0.3s ease;
    width: 900px;
}

.faq-question {
    background-color: #ffffff;
    border: none;
    padding: 0 20px;
    height: 80px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.faq-question:hover {
    background-color: #F5F9FF;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.arrow {
    transition: transform 0.3s ease;
    font-size: 18px;
    color: #007BFF;
}

.faq-item.active .arrow {
    transform: rotate(180deg);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    padding: 0 20px;
}

.faq-item.active .faq-answer {
    max-height: 500px;
    opacity: 1;
    padding-bottom: 20px;
    margin-top: 10px;
    color: #555;
    font-size: 15px;
}

.faq-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--azul-padrao);
    width: 1000px;
    height: 260px;
    border-radius: 25px;
    margin-top: 122px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);

}

.faq-box  h1{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    padding-top: 20px;
    margin: 0;
    padding-bottom: 35px;
}

.faq-box p {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 500;
  color: #fff;
  opacity: 100%;
  margin: 0;
  padding-bottom: 30px;
}

.hr-footer {
    opacity: 50%;
    margin-top: 216px;
}

#faq {
    scroll-margin-top: 100px; 

}





