@import url(variaveis.css);

.background {
    background: linear-gradient(180deg, #FFFFFF 0%, #B9D2EF 100%);
    width: 100%;
    height: 2970px;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 125px;
}

.home-content img {
    margin-bottom: 55px;
}

.home-content h1 {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 38px;
}

.home-content p {
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    opacity: 50%;
    text-align: center;
    max-width: 700px;
    margin-bottom: 48px;
}
