@import url(variaveis.css);

.grid-sessoes {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 30px; 
    row-gap: 20px;
    padding: 40px 0 ;
    margin-left: 300px;
}

.card-transcrição {
    background-color: #fff;
    width: 900px;
    height: 440px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 40px 45px;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);

}

.tittle-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.tittle-box h1 {
    font-size: 24px;
    font-weight: 500;
}

.box-transcricao {
    background-color: #DFDFDF;
    width: 870px;
    height: 360px;
    padding: 20px 20px;
    line-height: 140%;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);

}

.destaque-sessao {
    color: #000;
    font-weight: bold;
}

.card-analise {
    background-color: #fff;
    width: 325px;
    height: 400px;
    border-radius: 15px;
    padding: 30px 30px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);

}

.card-analise h1 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}

.card-analise p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.destaque-sessao2 {
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 18px;
}