@import url(variaveis.css);

.grid-financeiro {
    display: flex;
    gap: 20px;
    margin-left: 300px;
}

.card-financeiro {
    background-color: #fff;
    width: 400px;
    height: 125px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    padding: 30px 30px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 40px;
}

.box-lineup {
    display: flex;
    align-items: center;
    gap: 230px;
    font-size: 20px;
    margin-bottom: 15px;
}

.card-financeiro p {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 10px;
}

.box-linedown {
    display: flex;
    align-items: center;
    gap: 10px;
}

.box-extrato {
    background-color: #fff;
    width: 1360px;
    height: 400px;
    padding: 30px 30px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    margin-left: 300px;


}
.box-extrato h1 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.pagamento-box {
    background-color: #EAEAEA;
    width: 1300px;
    height: 50px;
    border-radius: 15px;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);

}

.financeiro-paciente {
    font-family: "Poppins", sans-serif;
    padding-left: 10px;
}

.financeiro-paciente h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.financeiro-paciente p {
    font-size: 15px;
}

.status {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-family: "Poppins", sans-serif;
    
}

.status h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-left: 1000px;
}

.status p {
    font-size: 20px;
    font-weight: 400;
    color: #186800;
}
